<div class="container">
  <button class="button" mat-fab extended (click)="login('Admin')" [disabled]="isLoginClicked">
    @if (isLoginClicked) {
      <mat-spinner diameter="40"></mat-spinner>
    } @else {
      <mat-icon>perm_data_setting</mat-icon>
      Login as admin
    }
  </button>
  <button class="button" mat-fab extended (click)="login('User')" [disabled]="isLoginClicked">
    @if (isLoginClicked) {
      <mat-spinner diameter="40"></mat-spinner>
    } @else {
      <mat-icon>person_outline</mat-icon>
      Login as user
    }
  </button>
</div>
